.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    margin: 5px 0 0 0;
    padding: 0 0 5px 0;
}

.header-container {
    width: 60%;
    display: flex;
    border-bottom: 5px solid silver;

}

.header-navigation {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

.header-search {
    justify-content: flex-end;
    width: 50%;
    display: flex;
}

.header-links {
    font-weight: bolder;
    font-size: 1.65rem;
    list-style: none;
    text-decoration: none;
    color: coral;
    padding-left: 5px;
}

/* .header-links:not(:last-child){
    padding
} */